/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import 'izitoast/dist/css/iziToast.min.css';
@import 'flatpickr/dist/flatpickr.min.css';
@import url('./2-snackbar.css');
@import url('./1-timer.css');
:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);
}
* {
  box-sizing: border-box;
}
